/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 14, 2015, 10:11:36 AM
    Author     : davis.sylvester
*/
/*
*/
/* 
    Created on : Jan 30, 2015, Jan 30, 2015 4:32:14 PM
    Modified On: Feb 5, 2015
    Author     : davis.sylvester
*/
body {
  margin: 0px;
  padding: 0px;
}
.header {
  width: 100vw;
  height: 8vh;
  overflow: hidden;
}
.header > div {
  height: 100%;
  padding: .5 1%;
}
.header .companyName {
  width: 100vw;
  font-size: 2vw;
  padding-left: 30vh;
  background: #FFF;
  font-family: 'Encode-Med';
}
Nav.nav {
  background: #234c65;
  height: 4vh;
  width: 100vw;
  font-family: 'Oswald', sans-serif;
}
Nav.nav .navagation {
  color: #FFF;
}
.navagation ul {
  padding: 0;
  margin: 0;
  line-height: 4vh;
}
.navagation ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
  position: relative;
}
.navagation ul li a,
.navagation ul li a:active {
  text-decoration: none;
  text-align: center;
  height: 4vh;
  width: 150px;
  display: block;
  color: #FFF;
}
.navagation ul li ul {
  width: 20vw;
  visibility: hidden;
}
.navagation ul li ul li {
  display: block;
  width: 100%;
  background: #7ec5ea;
  border: 3px solid #000;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
}
.navagation ul li ul li a {
  color: #000;
}
.navagation ul li ul li:hover a {
  color: #FFF;
}
.navagation ul li:hover ul {
  visibility: visible;
}
.secondaryColor {
  color: #3ca7e0;
}
.noMargin {
  margin: 0;
  padding: 0;
  display: inline;
}
.mainContentGeneral {
  margin: 1%;
  display: inline-block;
  vertical-align: top;
}
.mainContent > * {
  width: 100vw;
  margin: 1%;
  display: inline-block;
  vertical-align: top;
}
.mainContent div.contentBody {
  width: 77%;
}
.mainContent div.contentBody > *,
.mainContent div.contentSecondary > * {
  margin: 1%;
}
.mainContent div.contentBody h1 {
  font-family: 'LobsterTwo-Regular';
  font-size: 4vh;
  color: #3ca7e0;
}
.mainContent div.contentSecondary {
  width: 18%;
  margin: 1%;
  display: inline-block;
  vertical-align: top;
}
.mainContent > div:last-child {
  margin-left: 0px;
}
.formColumnsGeneric {
  display: inline-block;
  margin-right: 2%;
  height: 100%;
}
.row {
  /*    width: 100%;
    vertical-align: top;
    height: 3vh;
    margin: 0;
    padding: 0;
    margin-bottom: 1%;*/
}
form.formGeneral .row .formLabelsColumn {
  display: inline-block;
  margin-right: 2%;
  height: 100%;
  width: 20%;
  text-align: right;
  font-family: 'Encode-Med';
  font-size: 2vh;
  vertical-align: top;
  /*    height: 3.3vh;*/
}
.formGeneral .row .formValueColumn {
  display: inline-block;
  margin-right: 2%;
  width: 70%;
  text-align: left;
  height: 100%;
}
.formGeneral .row .errorMsg {
  line-height: 2vh;
  font-family: 'Encode-Med';
  font-size: 1.5vh;
  color: red;
  text-align: left;
  padding-left: 30%;
  margin: .5%;
}
input,
select {
  padding: 0px;
  margin: 0px;
  font-size: 2vh;
  height: 100%;
  border: 1px solid #3ca7e0;
  box-shadow: 5px #3ca7e0;
  padding-left: 2%;
}
textarea {
  width: 100%;
  height: 7vh;
  border: 1px solid #3ca7e0;
  box-shadow: 5px #3ca7e0;
}
input::input-placeholder {
  color: purple;
}
.CommandButton {
  background: #3ca7e0;
}
.pullRight {
  text-align: right;
}
.formLabel {
  font-family: 'Oswald';
  font-size: 2.2vh;
}
.formValueColumn {
  font-family: 'Oswald';
  font-size: 2.2vh;
  font-family: 'Oswald Bold';
  color: #234c65;
}
.formLabelsColumn {
  /*.formColumnsGeneric;*/
  /*    width: 20%;    */
  text-align: right;
  font-family: 'Encode-Med';
  font-size: 2vh;
  vertical-align: top;
  /*    height: 3.3vh;*/
}
.panel-body > .row {
  border-bottom: 1px dotted #234c65;
}
.panel-body > .row:last-child {
  border-bottom: 0;
}
.EditableField {
  visibility: visible;
  display: block;
}
.nonEditField {
  visibility: hidden;
  display: none;
}
@font-face {
  font-family: 'Encode-Med';
  src: url("../fonts/EncodeSans-Medium.ttf");
}
@font-face {
  font-family: 'Pacifico';
  src: url("../fonts/Pacifico.ttf");
}
@font-face {
  font-family: 'Alex Brush';
  src: url("../fonts/AlexBrush-Regular.ttf");
}
@font-face {
  font-family: 'LobsterTwo-Regular';
  src: url("../fonts/LobsterTwo-Regular.otf");
}
@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald-Regular.ttf");
}
@font-face {
  font-family: 'Oswald Bold';
  src: url("../fonts/Oswald-Bold.ttf");
}
.panel-heading {
  background: #234c65;
}
.btn {
  background: #7ec5ea;
}
.employeeSummaryContainer {
  width: 20vw;
  border: 1px solid red;
  margin: 1%;
  display: inline-block;
}
/*# sourceMappingURL=EmployeeDirectory-Small.css.map */